{% extends "base.html" %}

{% block content %}

<div class="container-fluid p-5">
    <div class="row text-center">
        <h1 class="page-titles">{{ _('Our courses') }}</h1>
    </div>
    <div class="row about_us_paragraphs">
        <p>
            {{ _("We offer a wide range of scuba diving courses tailored to all experience levels—from 
            beginner programs that teach the fundamentals of diving, to advanced courses that 
            refine your skills and deepen your underwater knowledge. For those looking to expand 
            their expertise, we provide specialty dives including night diving, shipwreck 
            exploration, and sea cave adventures. Our certified instructors also offer essential 
            first aid and emergency response training, ensuring safety and confidence both above 
            and below the surface. Whether you're taking your first breath underwater or seeking 
            your next diving challenge, we have the course for you.") }}
        </p>
    </div>
    <div class="row">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    {{ _("Our most popular courses") }}
                </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {% for course in courses %}
                            {% if course.popular == 'yes' %}
                                <div class="col-lg-6 my-3">
                                    <div class="card text-bg-dark">
                                        <img src="{{ course.image }}" class="course-image card-img" alt="Course image">
                                        <div class="card-img-overlay">
                                            <h2 class="card-title">{{ course.title }}</h2>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    {{ _("Apnea") }}
                </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {% for course in courses %}
                            {% if course.category == 'Apnea' %}
                                <div class="col-lg-6 my-3">
                                    <div class="card text-bg-dark">
                                        <img src="{{ course.image }}" class="course-image card-img" alt="Course image">
                                        <div class="card-img-overlay">
                                            <h2 class="card-title">{{ course.title }}</h2>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    {{ _("Entry-Level") }}
                </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {% for course in courses %}
                            {% if course.category == 'Entry-Level' %}
                                <div class="col-lg-6 my-3">
                                    <div class="card text-bg-dark">
                                        <img src="{{ course.image }}" class="course-image card-img" alt="Course image">
                                        <div class="card-img-overlay">
                                            <h2 class="card-title">{{ course.title }}</h2>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseTwo">
                    {{ _("Continuing Education") }}
                </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {% for course in courses %}
                            {% if course.category == 'Continuing Education' %}
                                <div class="col-lg-6 my-3">
                                    <div class="card text-bg-dark">
                                        <img src="{{ course.image }}" class="course-image card-img" alt="Course image">
                                        <div class="card-img-overlay">
                                            <h2 class="card-title">{{ course.title }}</h2>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}