{% extends "base.html" %}

{% block content %}

<section id="explore_cy_page">
    <div class="container-fluid">
        <div class="row fullscreen_height">
            <div class="col animate__animated animate__slideInLeft animate__slower">
                <h1 id="explore_title" class="text-light">{{ _('Explore')}}<br>{{ _('Cyprus') }}<br>{{ _('Underwater') }}</h1>
            </div>
            <div class="col" id="description_cy">
                <p class="bg-light text-dark p-3 animate__animated animate__zoomIn animate__slower">
                    {{ _("Cyprus is a scuba diver’s paradise,
                    offering crystal-clear waters, diverse
                    marine life, and some of the best diving
                    conditions in the Mediterranean. With
                    its warm climate and impressive
                    underwater visibility, the island is ideal
                    for both beginners and advanced
                    divers. From vibrant reefs and
                    fascinating sea caves to historic
                    shipwrecks like the world-famous
                    Zenobia, Cyprus provides unforgettable
                    diving experiences year-round.
                    Whether you're seeking adventure,
                    exploration, or tranquility beneath the
                    waves, Cyprus is the perfect
                    destination to dive in and discover.") }}
                </p>
                <a class="text-decoration-none animate__animated animate__slideInUp animate__delay-2s" href="{{ url_for('diving_sites') }}">
                    <h3 class="text-light">{{ _('Diving Sites') }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/>
                        </svg>
                    </h3>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}