{% extends "base.html" %}

{% block content %}
    <section id="hero" class="text-center">
        <div id="home_page" class="container-fluid fullscreen_height">
            <div class="row">
                <div class="col">
                    <h1 class="text-light animate__animated animate__fadeInDown">{{ _('Learn. Dive. Explore') }}</h1>
                    <br>
                    <h4 class="text-secondary fst-italic animate__animated animate__fadeInLeft animate__delay-1s">{{ _('From First Breaths to Epic Dives – Explore the Sea with Net Divers!') }}</h4>
                    <br>
                    <a class="btn btn-info cta-btn animate__animated animate__fadeInUp" href="{{ url_for('secondary') }}">{{ _('START DIVING') }}</a>
                </div>
            </div>
        </div>
    </section> 

{% endblock %}