{% extends "base.html" %}

{% block content %}
    <section id="secondary" class="text-center">
        <div id="home_page" class="container-fluid fullscreen_height">
            <div class="row">
                <div class="col">
                    <h1 class="text-light">{{ _('Discover the depths with confidence') }}</h1>
                    <a class="btn btn-outline-dark" href="#">{{ _('OUR COURSES AND SERVICES') }}</a>
                    <a class="btn btn-outline-dark" href="#">{{ _('EXPLORE CYPRUS') }}</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}